@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Main Page*/
.header {
  border: 1px solid #222222;
  background: #222222;
  padding: 20px 0;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.container .header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .header__flex .header__right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .header__flex .left_pic:not(:last-child) {
  margin-right: 41px;
}

.container .header__flex .right_pic:not(:last-child) {
  margin-right: 33px;
}

.top {
  background: #F1E4E6;
  height: 764px;
}

.top .top__flex {
  height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../Pics/A_man.png);
  background-repeat: no-repeat;
  background-position: -232px;
}

.top .top__text {
  padding-left: 20px;
  border-left: 20px solid red;
}

.top .the_brand {
  font-size: 48px;
  line-height: 58px;
}

.top .of_luxerius {
  font-size: 32px;
  line-height: 38px;
}

.top .fashion {
  color: #F16D7F;
}

.top__offer_item {
  margin-top: 65px;
  margin-bottom: 76px;
}

.top__offer_item .top__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.top__offer_item .offer__item {
  width: 100%;
  height: 180px;
  background-image: url(../Pics/accesories.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.top__offer_item .offer__item:not(:last-child) {
  width: 360px;
  height: 260px;
}

.top__offer_item .offer__item:nth-child(1) {
  background-image: url(../Pics/for_woman.svg);
}

.top__offer_item .offer__item:nth-child(2) {
  background-image: url(../Pics/for_man.svg);
}

.top__offer_item .offer__item:nth-child(3) {
  background-image: url(../Pics/for_kids.svg);
}

.top__offer_item .red_text_for_offer {
  color: #F16D7F;
  font-size: 24px;
}

.text_fetured_items {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.text_after_fetured_items {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-top: 6px;
}

.card__item__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 47px 0;
}

.card__item__flex .card {
  max-width: 360px;
  width: 100%;
  height: 581px;
  background: #F8F8F8;
}

.card__item__flex .card .card__img {
  max-width: 360px;
  width: 100%;
}

.card__item__flex .card .name__item {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 25px;
  margin-left: 18px;
}

.card__item__flex .card .item__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 13px;
  margin-left: 17px;
}

.card__item__flex .card .price__item {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
  margin-left: 18px;
}

.browse__all__product__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.browse__all__product {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 14px 39px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 75px;
}

.upper__footer {
  height: 341px;
  background: #222224;
}

.upper__footer .upper__footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  height: 341px;
}

.upper__footer .upper__footer__flex .upper__footer__item {
  width: 360px;
  height: 134px;
}

.upper__footer .upper__footer__flex .upper__footer__item:nth-child(1) {
  background-image: url(../Pics/Forma_1_upper_footer.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.upper__footer .upper__footer__flex .upper__footer__item:nth-child(2) {
  background-image: url(../Pics/Forma_2_upper_footer.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.upper__footer .upper__footer__flex .upper__footer__item:nth-child(3) {
  background-image: url(../Pics/Forma_3_upper_footer.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.upper__footer .upper__footer__flex .upper__footer__heading {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 76px;
}

.upper__footer .upper__footer__flex .upper__footer__description {
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: auto;
  height: 56px;
  width: 300px;
  opacity: 0.7;
}

.middle__footer {
  height: 448px;
  background: url(../Pics/middle_footer_mountains.png);
}

.middle__footer .middle__footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 448px;
}

.middle__footer .subscribe:nth-child(1) {
  max-width: 360px;
  width: 100%;
  height: 225px;
  background: url(../Pics/subscribe_info_photo.png);
  background-repeat: no-repeat;
  background-position: top;
}

.middle__footer .subsribe__text__left {
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  height: 189px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
}

.middle__footer .subscribe:nth-child(2) {
  max-width: 557px;
  width: 100%;
  height: 142px;
}

.middle__footer .subsribe__text__right {
  font-size: 18px;
  line-height: 30px;
  color: #222224;
  text-align: center;
}

.middle__footer .subscribe__span {
  font-size: 24px;
}

.middle__footer .subscribe__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 78px;
}

.middle__footer .subscribe__flex .email__border__left {
  width: 256px;
  height: 49px;
  padding-left: 22px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
  color: #222224;
  opacity: 0.67;
  background: #E1E1E1;
}

.middle__footer .subscribe__flex .email__border__right {
  width: 100px;
  height: 49px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  background: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
}

.lower__footer {
  background: #222224;
  padding: 20px 0;
}

.lower__footer .lower__footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lower__footer .lower__footer__left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.lower__footer .lower__footer__left__text::before {
  content: "\00A9";
  margin-right: 5px;
}

.lower__footer .social__icon {
  width: 32px;
  font-size: 32px;
  background: white;
  color: black;
  text-align: center;
  cursor: pointer;
}

.lower__footer .social__icon:hover {
  background: #F16D7F;
}

.lower__footer .lower__footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
}

/* Catalog Page*/
.header__catalog {
  background-color: #F8F3F4;
  height: 148px;
  margin-bottom: 132px;
}

.header__catalog .header__catalog__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.header__catalog .header__catalog__left {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.header__catalog .header__catalog__text {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.pages {
  width: 284px;
  height: 44px;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 96px;
}

/* Product Page*/
.header__product {
  background-color: #F8F3F4;
  height: 148px;
}

.header__product .header__product__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.header__product .header__product__left {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.header__product .header__product__text {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.product__top {
  height: 777px;
  background: #F7F7F7;
}

.product__top .product__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__top .product__img {
  max-width: 597px;
  width: 100%;
}

.product {
  margin-top: -50px;
  background: white;
  border: 1px solid #EAEAEA;
  height: 601px;
}

.product .product__collection__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .product__collection__flex h1 {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-align: center;
  padding-top: 64px;
  font-weight: 300;
  opacity: 0.9;
}

.product .product__collection__flex .hr1 {
  width: 63px;
  height: 3.03px;
  margin: 12px 0;
  background: #EF5B70;
  border: none;
}

.product .product__collection__flex h2 {
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-align: center;
  font-weight: 300;
  opacity: 0.9;
}

.product .product__collection__flex p {
  font-size: 14px;
  line-height: 17px;
  max-width: 555px;
  text-align: center;
  color: #5E5E5E;
  padding-top: 48px;
  font-weight: 300;
  opacity: 0.8;
}

.product .product__collection__flex .price {
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  padding-top: 32px;
}

.product .product__collection__flex .hr2 {
  max-width: 642px;
  width: 100%;
  height: 1.01px;
  background: #EAEAEA;
  border: none;
  margin: 64px 0;
}

.product .details__product {
  max-width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  gap: 20px;
}

.product .summary {
  list-style: none;
}

.product .summary::after {
  content: url(../Pics/details_arrow_down.svg);
  margin-left: 9px;
}

.product .product__collection__flex .cart__btn {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  text-decoration: none;
  border: 1px solid #FF6A6A;
  padding: 15px 0;
  padding-left: 73px;
  padding-right: 52px;
  margin-top: 48px;
  position: relative;
}

.product .cart__btn::before {
  content: url(../Pics/product_cart.svg);
  margin-right: 23px;
  position: absolute;
  right: 137px;
}

.footer--margin {
  margin-top: 128px;
}

.cart {
  margin-top: 96px;
}

.cart__flex {
  min-height: 774px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart__left {
  width: 652px;
}

.cart__left__up {
  width: 100%;
  height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart__left__description__btn {
  position: absolute;
  left: 94%;
  top: 28px;
  cursor: pointer;
}

.cart__left__img {
  max-width: 262px;
  width: 100%;
  height: 306px;
}

.cart__left__description {
  margin-left: 31px;
}

.cart__left__description h2 {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  max-width: 215px;
  margin-top: 22px;
  margin-bottom: 36px;
}

.cart__left__description p {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-top: 6px;
}

.cart__left__description span {
  color: #F16D7F;
}

.cart__left__description p:last-child::after {
  content: url(../Pics/quantity_№2_cart.svg);
  position: absolute;
  margin-left: 24px;
}

.cart__left__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 652px;
  height: 306px;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  margin-top: 40px;
}

.cart__left__text {
  margin-top: 72px;
  max-width: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__left__text__btn {
  border: 1px solid #A4A4A4;
  background: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 16.5px 40px;
  cursor: pointer;
}

.cart__right {
  width: 360px;
  margin-top: 17px;
}

.cart__right__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart__right__up h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart__right__form {
  max-width: 360px;
  height: 45px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  border: 1px solid #A4A4A4;
}

.cart__right__form:not(:first-child) {
  margin-top: 20px;
}

.cart__right__form::-webkit-input-placeholder {
  opacity: 0.7;
  padding-left: 17px;
}

.cart__right__form:-ms-input-placeholder {
  opacity: 0.7;
  padding-left: 17px;
}

.cart__right__form::-ms-input-placeholder {
  opacity: 0.7;
  padding-left: 17px;
}

.cart__right__form::placeholder {
  opacity: 0.7;
  padding-left: 17px;
}

.cart__right__form:focus {
  padding-left: 17px;
}

.cart__right__up__btn {
  width: 101px;
  height: 35px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
  background: none;
  margin-top: 23px;
  cursor: pointer;
}

.cart__right__down {
  background: #F5F3F3;
  max-width: 360px;
  height: 214px;
  margin-top: 57px;
}

.cart__right__down p {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding-top: 39px;
  padding-left: 218px;
}

.cart__right__down .grand {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-top: 12px;
  padding-left: 153px;
}

.cart__right__down span {
  color: #F16D7F;
}

.cart__right__down hr {
  background: #E2E2E2;
  max-width: 283px;
  height: 1px;
  margin-top: 21px;
  margin-left: 38.5px;
}

.cart__right__down__btn {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
  background: #F16D7F;
  padding: 15.5px 42px;
  margin-top: 17px;
  margin-left: 38.5px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */